body {
  background-image: url("img/lobby.png");
  background-size: cover;
  background-attachment: fixed;
}

#main-menu {
  width: auto;
  height: 850px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px 150px;
}

#main-menu h2 {
  font-size: 35px;
  text-align: center;
  width: 100%;
}

.room-list-wrapper {
  width: auto;
  height: 600px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  align-items:flex-start;
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap;
}

.room-list-wrapper .room-content {
  position: relative;
  height: 250px;
  width: 300px;
  max-width: 100%;
  margin: 14px 14px 50px 14px
}

.room-content .img-text-content{
  position: absolute;
  left: 0;
  right:0;
  bottom: -40px;
  height: 240px;
  max-width: 100%;
}

.img-text-content p{
 position: relative;
 font-size: 12px;
 right: auto;
 left: auto;
 margin: 5px;
}

.img-text-content img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: flex;
}

.img-text-content .dark-cover {
  align-items: center; /* テキストの中央揃え */
  background: rgba(0, 0, 0, .5); /* マスクの色(黒の50%) */
  bottom: 0;
  color: #fff; /* テキストの色 */
  font-size: 14px;
  display: flex; /* テキストの中央揃え */
  height: auto;
  justify-content: center; /* テキストの中央揃え */
  left: 0;
  opacity: 0; /* 最初は透明(非表示) */
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .6s ease; /* ゆっくりopacityのみへ変化させる */
  width: 100%;
}

.dark-cover:hover {
  opacity:1
}

.dark-cover p {
  width: 60%
}

.dli-arrow-link {
  margin-top: 60px;
  display: inline-block;
  vertical-align: middle;
  color: #333;
  text-decoration: none;
}

.dli-arrow-text {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
}

.dli-arrow-left {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  position: relative;
  width: 1em;
  height: 0.1em;
  background: currentcolor;
}

.dli-arrow-left:before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border: 0.1em solid currentcolor;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(-45deg);
  transform-origin: top left;
  position: absolute;
  top: 50%;
  left: -0.05em;
  box-sizing: border-box;
}